# Untracked files:

.DS_Store
target
gwt-unitCache
war
classes
compass
oreports
database
overlays
overlay
*.bak
*.log
*.log*
.classpath
.project
.settings
.idea
.mymetadata
.metadata
*.class
*.iml
*.iws
*.ipr
*.jar
*.war
*.ear
*.esb
*.rar
*.zip
*.par
etc
logs
activemq-data
alf_data_jetty
tomcat
lib
libs
dependencies
lib-2.6.7
standard
nbproject
nb-configuration.xml
build
*.out
*.out.*
*.lck
*.epoch
